Repository MamaNyoSquad/mamanyosquad.github.io, pull requests merged in 2023-05, with the labels that each got.

#169 Maintenance Details updated for Global Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#170 20230505
  blog/20221120/style.css
  css/anniv.css
  css/articletable.css
  css/homefeed.css
  css/kt_disclosure.css
  css/publishing.css
  css/vidiaries-app.css
  index.html
  media/images/5-5_simple.png
  media/images/abscbn_facet_full.png
  media/images/abscbn_facet_icon.png
  media/preview/20211119.png
  media/preview/20211206.png
  media/preview/20220908.png
  media/preview/20221206.png
  media/preview/20230505.png
Labels: MAJOR, DEPLOY

#171 merge merge
  index.html
Labels: MERGE

#172 20230506
  404.html
  anniversary/index.html
  archive/index.html
  blog/index.html
  css/homefeed.css
  css/important.css
  events/index.html
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  policies/index.html
  publishing/index.html
Labels: MAJOR, DEPLOY

#173 Policy Update - 6 May 2023
  404.html
  anniversary/index.html
  archive/index.html
  blog/index.html
  css/important.css
  events/index.html
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  policies/index.html
  publishing/index.html
Labels: MAJOR, DEPLOY, POLICY CHANGE

#174 20230506
  archive/20220908.html
  archive/20230505.html
  archive/index.html
  index.html
  media/images/coronation2023_large.png
  media/images/coronation2023_small.png
  media/preview/20230506.png
  media/svg/coronation2023.svg
Labels: MAJOR, DEPLOY

#175 minor updates to homepage
  index.html
  media/images/coronation2023_header.png
Labels: DEPLOY, MINOR

#176 Maintenance Details updated (Japanese Edition)
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#178 An Open Message to the Royal Family
  index.html
Labels: DEPLOY, MINOR

#179 20230511
  404.html
  LICENSE
  LICENSE-CONTENT
  README.md
  anniversary/index.html
  archive/20230505.html
  archive/index.html
  blog/20221229/index.html
  blog/20230416/index.html
  blog/index.html
  css/important.css
  events/index.html
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  policies/index.html
  publishing/index.html
  publishing/insidestory-20210707/index.html
Labels: MAJOR, DEPLOY, LICENSE UPDATE

#180 20230506 moved to `archives`
  archive/20230506.html
  archive/index.html
  index.html
Labels: DEPLOY, MINOR

#181 Maintenance Details updated for Global Edition
  README.md
  index.html
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#182 Maintenance Details updated for Japanese Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#183 Maintenance Details updated
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#184 Maintenance Details updated for Japanese Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#185 Maintenance Details updated for Global Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#186 Maintenance Details updated for Japanese Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#187 Maintenance Details updated for Global Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#189 Branch Merge
  .github/workflows/deploy.yml
Labels: MERGE

#190 merge merge
  .github/workflows/deploy.yml
Labels: MERGE

#191 20230531: Replacing Branch Deploy with GitHub Actions Deploy
  .github/workflows/deploy.yml
  404.html
  README.md
  anniversary/index.html
  archive/index.html
  blog/index.html
  css/important.css
  events/index.html
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  policies/index.html
  publishing/index.html
Labels: MAJOR, DEPLOY
