Repository MamaNyoSquad/mamanyosquad.github.io, pull requests merged in 2023-12, with the labels that each got.

#275 the logo for the 3rd Inception Anniversary has been released!
  anniversary/index.html
  archive/index.html
  blog/index.html
  events/index.html
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  media/images/annivhead/3anniv.png
  media/images/annivhead/trailer.png
  media/preview/20231206.png
  policies/index.html
Labels: DEPLOY, MINOR

#277 #MamaNyoSquad's 3rd Inception Anniversary
  anniversary/1anniv/index.html
  anniversary/2anniv/index.html
  anniversary/3anniv/index.html
  anniversary/index.html
  css/homefeed.css
  index.html
  media/favicon/1anniv.png
  media/favicon/2anniv.png
  media/favicon/3anniv.png
  media/favicon/ShinzoAbe_JAPAN.png
  media/favicon/publishing.png
  media/svg/anniv/MamaNyoSquad@3.svg
  scripts/anniv.js
Labels: MAJOR, DEPLOY

#278 Maintenance Details updated for Japanese Edition
  css/maintenancestatus.css
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#279 Maintenance Details updated for Global Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#280 Branch Merge
  404.html
  anniversary/1anniv/index.html
  anniversary/2anniv/index.html
  anniversary/3anniv/index.html
  anniversary/index.html
  archive/20230505.html
  archive/20230506.html
  archive/20230902.html
  archive/20231115.html
  archive/index.html
  blog/20220413/index.html
  blog/20221229/index.html
  blog/20230416/index.html
  blog/20230902/index.html
  blog/20230902/sinoTimer.js
  blog/index.html
  css/MamaNyo19.css
  css/homefeed.css
  css/important.css
  css/maintenancestatus.css
  events/index.html
  events/thelonelybride-sinoalice/index.html
  events/thelonelybride-sinoalice/scripts.js
  events/thelonelybride-sinoalice/style.css
  index.html
  kt-disclosure/index.html
  maintenance/index.html
  media/favicon/1anniv.png
  media/favicon/2anniv.png
  media/favicon/3anniv.png
  media/favicon/ShinzoAbe_JAPAN.png
  media/favicon/publishing.png
  media/images/MamaNyo19_2023.jpg
  media/images/annivhead/3anniv.png
  media/images/annivhead/annivPreview.png
  media/images/annivhead/trailer.png
  media/images/blog/20231115_sinoSayonara.png
  media/preview/20231119.png
  media/preview/20231206.png
  media/svg/anniv/MamaNyoSquad@3.svg
  media/svg/tbmassoc_notable.svg
  policies/index.html
  publishing/index.html
  publishing/insidestory/20210907.html
  publishing/insidestory/20210920.html
  publishing/insidestory/20211031.html
  publishing/insidestory/20211119_1.html
  publishing/insidestory/20211119_2.html
  publishing/insidestory/20220130.html
  scripts/anniv.js
  scripts/maintenance.js
  style.css
Labels: MERGE

#281 Maintenance Details updated
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#282 20231219
  archive/20230505.html
  archive/20230506.html
  archive/20231115.html
  css/homefeed.css
  css/maintenancestatus.css
  events/thelonelybride-sinoalice/index.html
  events/thelonelybride-sinoalice/style.css
  index.html
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE

#283 page title update
  blog/20220413/index.html
Labels: DEPLOY, MINOR

#284 Maintenance Details updated for the Global Edition
  maintenance/index.html
  scripts/maintenance.js
Labels: DEPLOY, MINOR, MAINTENANCE
